main {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-compra {
    margin-top: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 630px;
    width: 1400px;
    padding: 20px;
}

.ingresso-detalhes {
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #faffed;;
    height: 600px;
    width: 900px;
}

.container-seta {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
}


#seta {
    width: 50px;
    height: 50px;
}

.forms-ingresso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.forms-ingresso fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 870px;
    gap: 10px;
    color: var(--cor-menu);
    font-weight: bold;
    
}

.titulo-forms {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 870px;
}

.container-quantidade {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 870px;
    height: 200px;
}

.container-quantidade div {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ec76005c;
    border-radius: 12px;
    gap: 10px;
    width: 400px;
    height: 180px;

}

.quantidade {
    padding: 10px;
    background-color: #faffed;
    border: 2px solid var(--cor-menu);
    border-radius: 12px;
    width: 60px;
    font-size: 16px;
    margin-bottom: 15px;
}

.div-pagamentos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffd1a371;
    border-radius: 12px;
    height: 90px;
    width: 870px;
}

.div-pagamentos button {
    background-color: #faffed;
    color: var(--cor-menu);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 12px 20px;
    border: 2px var(--cor-background) solid;
    border-radius: 12px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    width: 400px;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.div-pagamentos button:hover {
    transform: scale(1.01);
    color: #faffed;
    background-color: var(--cor-menu);
    border: 2px var(--cor-menu) solid;
}

label[for="data"] {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    display: block;
}


input[type="date"] {
    
    padding: 7px;
    border: 2px solid var(--cor-menu);
    border-radius: 12px;
    background-color: #faffed;
    color: var(--cor-menu);
    font-size: 15px;
    font-family: inherit;
    width: 260px;
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
}


input[type="date"]:focus {
    outline: none;
    border-color: var(--cor-menu);
    background-color: #fff;
}

.container-botoes {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 870px;
    height: 150px;
}

.container-botoes h2 {
    align-self: flex-start;
}

.container-botoes p {
    margin-top: 10px;
    align-self: flex-start;
}

.opcoes-data {
    display: flex;
    justify-content: space-between;
    width: 870px;
}

.opcoes-data input[type="radio"] {
    display: none;
}

.opcoes-data label {
    display: flex;
    justify-content: center;
    width: 270px;
    padding: 6px;
    border: 2px solid var(--cor-menu);
    border-radius: 12px;
    background-color: #faffed;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    color: var(--cor-menu);
}

.opcoes-data input[type="radio"]:checked + label {
    background-color: var(--cor-menu);
    color: #faffed;
    border-color: var(--cor-menu);
}

.carrinho-detalhes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 400px;
}

.carrinho {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #faffed;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 450px;
    width: 400px;   
}

.carrinho-topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: auto;
}

#lixo-svg {
    width: 40px;
    height: 40px;
}

.carrinho-dentro{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    background-color: #ec76000c;
    width: 360px;
    height: 320px;
    gap: 10px;
}

.container-imagem{

    display: flex;
    justify-content: space-between;
    
    width: 320px;
    height: auto;
    margin-top: 20px;
}

#img-ingresso-format{
    width: 70px;
    height: 70px;
    border-radius: 12px;
}

.container-texto {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 240px;
    height: 70px;
}

.container-detalhes {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    width: 160px;
}

.container-detalhes-ingresso {
    display: flex;
    width: 160px;
    justify-content: space-between;
}

.div-data{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 10px;
    border-radius: 12px;
    background-color: #ffd1a371;
    width: 320px;
    height: 35px;
}

#calendario-compras {
    width: 25px;
    height: 25px;
}

.carrinho-valor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-top: 10px;
    gap: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #faffed;
    height: 150px;
    width: 400px;
}

#valor-conteiner {
    display: flex;
    justify-content: space-between;
    width: 355px;
}

.cor-texto {
    color: #ec7600ad;
}

.cor-texto-2 {
    color: var(--cor-menu);
}

.tamanho-menor {
    font-size: 14px;
}

.tamanho-maior {
    font-size: 18px;
    font-weight: bold;
}

.botao-compra {
    background-color: var(--cor-menu);
    color: #faffed;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 12px 20px;
    border: 2px var(--cor-background) solid;
    border-radius: 12px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    width: 90%;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.botao-compra:hover {
    transform: scale(1.01);
    color: var(--cor-menu);
    background-color: #faffed;
    border: 2px var(--cor-menu) solid;
}